* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  background-color: #222;
  height: 100%;
  width: 100%;
}

#main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#examples {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#examples header {
  width: 100%;
  height: 50px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

#examples header select {
  background-color: #000;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  color: white;
}

#examples header button {
  position: absolute;
  left: 10px;
  border: 1px solid #666;
  background-color: black;
  color: #666;
  border-radius: 5px;
  padding: 3px 5px;
}

#example {
  flex-grow: 1;
  background-color: #000;
  overflow: hidden;
}
